@import "tailwindcss";

@layer base {
  body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #1f1f1f;
  }
  ::-webkit-scrollbar-thumb {
    background: #eab308;
    border-radius: 10px;
  }
}

@layer utilities {
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
  }
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.7; }
  }
}